.edit-header {
  padding-top: 25px;
}

.form-edit label {
  font-size: 1.25em;
}

.form-edit-button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button,
button {
  width: 10rem;
}
