.showall {
  font-size: 1.2em;
  position: inherit;
}

.label-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 05%;
  position: relative;
  top: 12px;

  label {
    font-size: 1.15em;
    padding: 0 10px;
    margin: 0 15px;
    background: linear-gradient(to top, white 0%, rgb(275, 275, 275) 85%);
  }
}

.card-container {
  display: flex;
  margin: auto;
  border: 1px solid #dad9d9;
  display: flex;
  flex-direction: row;
  padding: 30px;
  max-width: 95%;
  min-height: 320px;
}

.card-custom {
  margin: 0 18px;
  width: 169px;
  min-width: 130px;
}

.cards .button:hover {
  text-decoration: none;
}

#card-button {
  margin-top: 28px;
  height: 47px;
  display: flex;
  justify-content: center;
}

#card-button a {
  display: flex;
  justify-content: center;
  width: 160px;
  align-items: center;
}

.card-container-submit {
  margin: 0;
}

.separation-line {
  border: 1.5px solid #e6e4e4;
  margin-top: 43px;
}

.text-info {
  color: aqua;
}

@media screen and (max-width: 1200px) {
  .card-custom:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .card-custom:nth-child(5) {
    display: none;
  }
}
