.showall {
  font-size: 1.2em;
  position: inherit;
}

.section-1 {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background-color: #6752ec;

  .welcome-section-text {
    border: 1px solid red;
    width: 550px;
    font-family: "Poppins", sans-serif;
    color: rgb(245, 245, 245);

    .welcome-section-text-head {
      p {
        font-size: 1.8em;
        font-weight: 500;
      }
    }

    .welcome-section-text-body {
      p {
        font-size: 1.5em;
        font-weight: 500;
      }
    }
  }

  .welcome-section-text-btn {
    display: flex;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 20px 0 0;
      width: 235px;
      height: 45px;
    }
  }

  .welcome-section-image {
    width: 550px;
  }
}

.section-2 {
  /* border: 1px solid red; */
  width: 100%;
  margin: auto;
  height: 55px;
}

.section-3 {
  /* border: 1px solid red; */
  width: 100%;
  margin: auto;
  background-color: #f7f7f7;

  .card-container {
    border: 1px solid red;
    margin: auto;

    flex-direction: column;
    padding: 30px;
    width: 70vw;
    max-width: 1244px;
    min-width: 195px;
    /* max-height: 350px; */
    min-height: 312px;

    .card-list {
      border: 1px solid red;
      /* margin: auto; */
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    label {
      font-size: 1.15em;
      margin-bottom: 15px;

      background: transparent;
    }
  }
}

.separation-line {
  border: 1.5px solid #e6e4e4;
  margin-top: 43px;
}

@media screen and (max-width: 1200px) {
  .welcome-section-text {
    margin-left: 30px;
  }

  .welcome-section-image {
    margin-right: 25px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .welcome-section-image {
    display: none;
  }
}

@media screen and (max-width: 1284px) {
  .welcome-section-text .welcome-section-text-head .welcome-section-text-body {
    margin-left: 100px;
  }
}

/* //// */

@media screen and (max-width: 1760px) {
  .card-custom:nth-child(6) {
    display: none;
  }

  .card-custom {
    /* min-width: 130px; */
    /* width: 169px; */
    margin: 0 2vw;
  }
}

@media screen and (max-width: 1633px) {
  .card-custom {
    /* min-width: 130px; */
    /* width: 169px; */
    margin: 0 1.5vw;
  }
}

@media screen and (max-width: 1485px) {
  .card-custom {
    min-width: 130px;
    margin: 0 1vw;
  }
}

@media screen and (max-width: 1145px) {
  .card-custom:nth-child(5) {
    display: none;
  }
  hr {
    display: none;
  }

  .card-custom {
    min-width: 130px;
    margin: 0 1vw;
  }
}

@media screen and (max-width: 1025px) {
  .card-custom:nth-child(4) {
    display: none;
  }

  .card-custom {
    margin: 0 2vw;
  }
}

@media screen and (max-width: 920px) {
  .card-custom {
    margin: 0 1.4vw;
  }
}

@media screen and (max-width: 838px) {
  .card-custom {
    min-width: 130px;
  }
}

@media screen and (max-width: 742px) {
  .card-custom:nth-child(3) {
    display: none;
  }
  .card-custom {
    /* min-width: 130px; */
    margin: 0 4vw;
  }
}

@media screen and (max-width: 602px) {
  .card-custom:nth-child(2) {
    display: none;
  }
  .card-custom {
    margin: 0 auto;
  }
}
/* 
@media screen and (max-width: 450px) {
  .card-custom {
    margin: 0 1vw;
  }
} */

/* @media screen and (max-width: 404px) {
  .card-custom:nth-child(1) {
    display: none;
  }
  .card-custom {
    margin: auto;
  }
} */
