.footer {
  padding: 18px 0;
  background-color: rgb(49, 49, 49);

  .footer-container {
    display: block;
    text-align: center;
    min-height: 30px;
    font-size: 0.95em;
    width: 100%;
    font-weight: 600;
    color: white;

    .list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      text-align: center;
      padding: 0;
      margin-bottom: 50px;
      gap: 50px;

      a {
        text-decoration: none;
        color: white;
      }
    }

    .rightreserved-text {
      display: inline-flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    .footer-container {
      .list {
        display: block;
        margin-bottom: 25px !important;

        li {
          padding: 8px 0;
        }
      }

      .footer-text {
        padding: 0 20px;
      }
    }
  }
}
