* {
  max-width: 1920px;
  /* border: 1px solid red; */
}

:root {
  width: 100vw;
  min-width: 320px;
  margin: auto;

  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 2;
  font-weight: 400;
  font-size: 0.95rem;
  text-shadow: 1px 1px rgba(131, 130, 130, 0.1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: #35373a;

  background-color: white;

  ::placeholder {
    color: #b6b6b6;
  }
}

input {
  box-shadow: none !important;
  outline: none !important;
}

/* Works with AssignmentView (Review) */
.burger {
  width: 477px;
}

/* For all hiperlink */
a {
  color: #6e6e6e;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* For text input for form submissions (Review) */
.inputText {
  color: rgb(60, 95, 124);
  text-decoration: underline;
}

.button {
  color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1971cf;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
  text-wrap: nowrap;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

  &:hover {
    /* background-color: #0a7ebd; */
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }

  &:disabled {
    border: 1px solid #928c8c;
    background-color: #888484;
    color: #423e35;
  }
}

#error {
  color: rgb(223, 26, 26);
  margin-top: 15px;
  margin-bottom: 5px;
  height: 28px;
}
