.login-header {
  margin-bottom: 30px;
}

.login-burger {
  width: 355px;
}

.login-header h1 {
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.form-login input {
  min-width: 350px;

  display: flex;
  font-size: 1em;
  height: 45px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  color: #35373a;
  border: 1px solid white;
  background-color: #dddad8;
  padding: 0.6em 1.2em;
}
