.login-root {
  height: 100vh;

  .login-section-1 {
    justify-content: center;
    width: 100%;
    height: 67px;
    padding: var(--public-headeer-section-padding);
    border-bottom: 0.5px solid #e9e9e9;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;

    .login-section-1-container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0 auto;
      padding-left: 100px;
      width: min(var(--header-content-width), 100%);
      height: 61px;

      .login-logo {
        align-content: center;
        font-size: 1.3em;
      }
    }
  }

  .login-section-2 {
    max-width: 285px;
    margin: 10px auto;
    padding: 80px 0;
    max-height: 200px !important;

    .login-container {
      width: min(var(--header-content-width), 100%);

      .login-header {
        margin-bottom: 30px;

        h1 {
          color: rgb(78, 72, 72) !important;
          font-weight: 600;
        }
      }

      .login-btn-custom {
        width: 100%;
        border-radius: 8px;
        border: none;
        padding: 12px;
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .login-error {
      color: rgb(223, 26, 26);
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 865px) {
  .login-section-1 {
    .login-section-1-container {
      padding: 0 !important;
      justify-content: center;
      .login-logo {
      }
    }
  }
}
