.navbar-custom {
  .navbar-brand-custom {
    font-family: Consolas, Fira Code, and JetBrains Mono;
    height: 37.99px;
  }

  .navbar-collapse-custom {
    .navbar-menu-custom {
      margin: 0 auto;
    }

    .navbar-dropdown-name {
      margin: 0 15px 5px;
      padding-bottom: 5px;
      font-weight: 500;
    }

    .d-flex-custom {
      margin-right: 50px;

      .search-btn {
        max-width: -moz-fit-content;
        max-width: fit-content;
      }
    }

    .navbar-btn-custom {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    .navbar-dropdown-menu-custom {
      &:hover {
        -webkit-transition: background-color 0.2s ease-out;
        -moz-transition: background-color 0.2s ease-out;
        -o-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
      }
    }

    .navbar-dropdown-menu-item {
      &:active {
        color: black;
        background-color: #f8f8f8 !important;
      }
    }
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 30px;
  padding: 20px 100px;
  font-size: 0.85em;
  font-weight: 200;

  /* Colors */
  .rightreserved-text,
  a {
    color: #5b6269;
  }

  .navbar-brand-custom {
    font-size: 1.1em;
  }

  .option-list {
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;

        a {
          align-items: center;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1099px) {
  .navbar-menu-custom {
    a {
      margin: 0 !important;
      text-align: center;
    }

    .nav-item-custom {
      width: 100px;
    }
  }
}

@media screen and (max-width: 949px) {
  .footer {
    align-items: first baseline;
    justify-content: space-around;

    .option-list {
      ul {
        li {
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar-toggler-custom {
    width: 72px;
  }
}

@media screen and (max-width: 669px) {
  .footer {
    display: block;
    justify-content: center;
    text-align: center;

    .rightreserved-text {
      margin-bottom: 20px;
    }
  }
}
