.navbar-custom {
  margin-bottom: 50px;
}

.navbar-brand-custom {
  font-family: Consolas, Fira Code, and JetBrains Mono;
}

.navbar-menu-custom {
  margin: 0 auto;
}

.search-input {
  inline-size: auto;
  max-width: 197px;
}

.navbar-dropdown-name {
  margin: 0 15px 5px;
  padding-bottom: 5px;
  font-weight: 500;
}

.navbar-toggler-custom {
  width: 60px;
}

.search-btn {
  max-width: fit-content;
  max-width: -moz-fit-content;
}

.navbar-btn-custom {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.navbar-dropdown-menu-custom {
  &:hover {
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
}

.navbar-dropdown-menu-item {
  &:active {
    color: black;
    background-color: #f8f8f8 !important;
  }
}
