.public-root {
  display: grid;
  grid-template-rows: repeat(3);
}

.public-section-1 {
  display: grid;
  grid-template-rows: 100px;
}
.public-section-2 {
  display: grid;
  grid-template-columns: repeat(3);
  justify-content: center;

  .publicpage-header {
    /* margin: 50px 0 80px; */
    justify-content: center;
    margin: auto;
  }

  .publicpage-body {
    display: flex;
    margin: auto;
  }

  a {
    padding: 0 15px;
  }
}

.public-section-3 {
  display: grid;
  grid-template-rows: 100px;
}
