li {
  list-style: none;
}

.fade-in-1 {
  animation: fade-in-1 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 1s;
}

.fade-in-2 {
  animation: fade-in-2 3s ease-in-out forwards;
  opacity: 0;
  animation-delay: 2s;
}

.fade-in-3 {
  animation: fade-in-3 2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade-in-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.public-root {
  display: grid;
  grid-template-rows: repeat(3);

  /* // Layout Variables */
  --button-color: #0f69df;
  --public-layout-section-padding-vertical: 150px 0;
  --public-layout-section-padding-horizontal: 0 55px;
  --public-footer-section-padding: 70px 0;
  --section-3-background-color: #f5f2f2c2;

  /* // Section 1 - Header */
  .public-section-1 {
    display: flex;
    justify-content: center;
    padding: 0 100px 0 30px;
    padding-top: 0;
    padding-bottom: 0;

    .public-section-1-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      width: min(var(--header-content-width), 100%);

      .public-buttons {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 10px 0;

        .public-register-btn {
          margin: 0;
          width: 120px;
          background-color: var(--button-color);
          color: white;
        }

        .public-login-btn {
          margin: 0;
          background-color: white;
          color: var(--button-color);
        }
      }
    }

    .public-logo {
      font-size: 1.35em;
    }
  }

  /* // Section 2 - Hero */
  .public-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 400px 0;
    text-align: center;
    border-top: 0.5px solid #e9e9e9;
    border-bottom: 0.5px solid #e9e9e9;
    background-image: url(../../public/images/student.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .public-section-2-container {
      .public-header {
        .public-header-welcome {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          font-size: 5em;
          margin-bottom: 30px;
          color: white;
        }

        .public-header-description {
          font-size: 2em;
          color: white;
        }
      }
    }
  }

  /* // Section 3 - Cards */
  .public-section-3 {
    display: flex;
    justify-content: center;
    padding: var(--public-layout-section-padding-vertical);
    padding: var(--public-layout-section-padding-vertical);
    background-color: var(--section-3-background-color);

    .public-section-3-container {
      width: min(var(--layout-content-width), 100%);

      .public-cards {
        .public-card-group {
          display: grid;
          grid-template-columns: repeat(3, minmax(100px, max-content));
          column-gap: 100px;
          list-style: none;
          padding: var(--public-layout-section-padding-horizontal);
          margin: 0;

          .public-card {
            background: transparent;
            border: none;

            .public-card-title {
              font-size: 2.5em;
              margin: 15px 0;
            }

            .public-list-icon-container {
              height: 68px;
            }
          }
        }
      }
    }
  }

  /* // Section 4 - Info */
  .public-section-4 {
    display: flex;
    justify-content: center;
    padding: var(--public-layout-section-padding-vertical);
    padding: var(--public-layout-section-padding-vertical);

    .public-section-4-container {
      width: min(var(--layout-content-width), 100%);

      .public-section-4-content-container {
        display: flex;
        justify-content: center;
        padding: var(--public-layout-section-padding-horizontal);

        .public-image-container .public-img {
          width: 250px;
          border: 1px solid #e7e7e7;
          border-radius: 15px;
        }

        .public-text-container {
          display: flex;
          gap: 200px;

          .public-info-text-List {
            font-family: system-ui, sans-serif;
            margin: auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-width: 550px;

            .public-card {
              display: flex;
            }

            .public-info-text {
              display: flex;
              gap: 5px;
              font-size: 1.3em;
              /* margin-bottom: 40px; */
              list-style: none;
            }
          }
        }
      }
    }
  }

  .public-section-5 {
    .public-section-5-container {
      .public-footer {
        background-color: rgb(49, 49, 49);
        footer {
          color: white !important;

          a {
            color: white;
          }
        }
      }
    }
  }

  /* General */
  .public-icon {
    /* width: max-content; */
    font-size: 35px;
    color: var(--button-color);
  }

  .public-icon-check {
    width: 40px;
    font-size: 30px;
    color: var(--button-color);
  }

  /* responsive */
  @media screen and (max-width: 1199px) {
    .public-section-3 {
      .public-section-3-container {
        .public-cards {
          .public-card-group {
            gap: 0x;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .public-section-3 {
    .public-section-3-container {
      display: inline-flex;
      justify-content: center;

      .public-cards {
        .public-card-group {
          display: grid;
          grid-template-columns: none !important;
          grid-template-rows: repeat(3);
          grid-template-areas:
            "a"
            "b"
            "c";
          list-style: none;
          gap: 50px;
          margin: 0;
          padding: 0 55px;

          .public-card {
            background: transparent;
            border: none;

            .public-card-title {
              font-size: 1.5em;
              margin-bottom: 15px;
              margin-top: 15px;
            }

            .public-list-icon-container {
              height: 68px;
            }
          }

          .public-card-1 {
            grid-area: a;
          }

          .public-card-2 {
            grid-area: b;
          }

          .public-card-3 {
            grid-area: c;
          }
        }
      }
    }
  }

  .public-section-4 {
    .public-section-4-container {
      .public-section-4-content-container {
        display: inline-flex !important;

        .public-text-container {
          padding: var(--public-layout-section-padding-horizontal);
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .public-section-4-container {
    display: inline-flex !important;

    .public-image-container {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .public-section-1 {
    .public-section-1-container {
      display: inline-block !important;

      .public-logo {
        text-align: center;
      }

      .public-buttons {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .public-section-1 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .public-section-2 {
    font-size: 0.5rem;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .public-section-3 {
    padding: 0 !important;
    .public-section-3-container {
      .public-card-group {
        padding: 50px 20px !important;
      }
    }
  }

  .public-section-4 {
    padding: 0 !important;
    .public-section-4-container {
      .public-section-4-content-container {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .public-text-container {
          font-size: 0.8em;
          padding: 50px 20px !important;
        }
      }
    }
  }
}
