.registration-root {
  display: grid;
  grid-template-rows: repeat(3);
  background: var(--background-color-2);

  .registration-section-1 {
    display: grid;
    grid-template-rows: 10px;
  }

  .registration-section-2 {
    display: grid;
    grid-template-columns: minmax(100px, 550px) minmax(100px, 700px);
    grid-template-rows: max-content;
    grid-template-areas:
      "a a"
      "b c";
    justify-content: center;
    padding: 60px 5%;
    gap: 5%;

    .registration-logo {
      grid-area: a;
      font-size: 1.8em;
      margin-bottom: 25px;
    }

    .registration-header {
      grid-area: b;
      padding: 55px 0;

      h1 {
        margin-bottom: 20px;
      }

      h4 {
        margin-bottom: 20px;
      }
    }

    .registration-form {
      margin: auto;
      padding: 40px 30px;
      border-radius: 15px;
      background: white;

      .registration-form-control {
        &:focus-within {
          border-color: var(--button-color-red) !important;
        }
      }

      .registration-line {
        margin: 30px 0;
        display: none;
      }

      .registration-container-header-exception h5 {
        margin-bottom: 0;
      }

      .registration-container-header {
        margin-top: 30px;

        h5 {
          margin-bottom: 0;
        }
      }

      .registration-field-container {
        height: max-content;
        margin-top: 8px;
      }

      .registration-container-header-error {
        margin-top: 28px;
      }

      .registration-field-container-error {
        margin: 15.2px 0 0;
      }

      .registration-firstname-container,
      .registration-lastname-container {
        width: 50%;
      }

      .registration-street-container {
        width: 80.2%;
      }

      .registration-number-container {
        width: 19.8%;
      }

      .registration-btn {
        float: right;
        width: 20%;
        font-size: 1.2em;
        margin-top: 20px;
        border: 1px solid var(--button-color-red);
        background: var(--button-color-red);
      }
    }
  }

  .registration-section-3 {
    display: grid;
    grid-template-rows: 10px;
  }

  .registration-form-checkbox {
    padding-left: 0;
  }

  .form-check-input {
    margin: 6px;
  }

  .registration-form-checkbox-label {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1271px) {
  .registration-section-2 {
    display: inline-block !important;
    justify-content: center;
    gap: 15%;
    padding: 40px 5%;

    .registration-header {
      margin: 0 !important;
      padding-top: 15px !important;
    }
  }

  .registration-header {
    grid-area: c;
    margin: 50px 0 !important;
  }

  .registration-form {
    grid-area: f;
  }
}

@media screen and (max-width: 585px) {
  .registration-field-container {
    width: 100% !important;
  }

  .registration-btn-container {
    display: flex !important;
    justify-content: center !important;

    .registration-btn {
      width: 100% !important;
    }
  }
}

.registration-root-success {
  display: grid;
  grid-template: 1000% / repeat(8, 1fr);
  grid-template-areas: "a b c c c c d e";
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  .registration-success-container {
    grid-area: c;
    margin-top: 25%;

    .registration-success-text-container {
      opacity: 0;
      padding: 25px;
      transition: opacity 0.5s ease-in;

      h1 {
        font-size: 3em;
      }
    }

    .confetti-container {
      grid-area: d;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    .registration-success-btn-container {
      display: flex;
      opacity: 0;
      justify-content: center;
      margin-top: 25px;
      transition: opacity 1s ease-in;

      .registration-success-btn {
        min-width: min-content;
        width: 150px;
        font-size: 1.5em;
        font-weight: 600;
        color: white;
        border: 1px solid var(--button-color-red);
        background: var(--button-color-red);
      }
    }
  }
}

.registration-root-success {
  .registration-success-container {
    .registration-success-text-container.show {
      opacity: 1;
    }
  }
}

.registration-root-success {
  .registration-success-container {
    .registration-success-btn-container.show {
      opacity: 1;
    }
  }
}
